<form method="post" action="{{ path('app_type_viste_delete', {'id': type_viste.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette nature de visiteur : {{ type_viste.TypeV }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_viste.id) }}">
    <button class="btn btn-outline-danger btn-sm">
        <i class="bi bi-trash3-fill" style="font-size: 1.1rem;"></i>
    </button>
</form>
