{% extends 'template.html.twig' %}

{% block PageTitle %}
	Gestion de Type des Visiteurs
{% endblock %}


{% block title %}New TypeViste{% endblock %}

{% block body %}
    <h5>Creation d'un nouveau type Visteur</h5>

    {{ include('type_viste/_form.html.twig') }}

    <a class="btn btn-outline-info btn-sm" href="{{ path('app_type_viste_index') }}">
        <i class="bi bi-x-squarebi bi-x-square" style="font-size: 1.1rem;"></i>
    </a>
{% endblock %}
