{% extends 'template.html.twig' %}

{% block PageTitle %}
	Gestion de Statut de Projet
{% endblock %}


{% block title %}Edit StatutProjet{% endblock %}

{% block body %}
    <h5>Modification du Statut de projet</h5>

    {{ include('statut_projet/_form.html.twig', {'button_label': 'Modifier'}) }}
<div class="d-flex flex-row">

    <a class="btn btn-outline-info btn-sm" href="{{ path('app_statut_projet_index') }}">
        <i class="bi bi-x-squarebi bi-x-square" style="font-size: 1.1rem;"></i>
    </a>

    {{ include('statut_projet/_delete_form.html.twig') }}
    </div>
{% endblock %}
