{% extends 'template.html.twig' %}

{% block PageTitle %}
	Gestion de d'Interêt Potentiel du partenaire
{% endblock %}

{% block title %}New InteretPotentiel{% endblock %}

{% block body %}
    <h5>Creation d'un nouveau interet potentiel</h5>

    {{ include('interet_potentiel/_form.html.twig') }}

<a class="btn btn-outline-info btn-sm" href="{{ path('app_interet_potentiel_index') }}">

        <i class="bi bi-x-squarebi bi-x-square" style="font-size: 1.1rem;"></i>
    </a>
{% endblock %}
