{% extends 'template.html.twig' %}

{% block PageTitle %}
	Gestion de Nature des Visiteurs
{% endblock %}


{% block title %}Edit NatureVisite{% endblock %}

{% block body %}
    <h5>Modification de nature visiteur</h5>

    {{ include('nature_visite/_form.html.twig', {'button_label': 'Update'}) }}
<div class="d-flex flex-row">
    <a class="btn btn-outline-info btn-sm" href="{{ path('app_nature_visite_index') }}">
        <i class="bi bi-x-squarebi bi-x-square" style="font-size: 1.1rem;"></i>
    </a>

    {{ include('nature_visite/_delete_form.html.twig') }}
</div>
{% endblock %}
