<form method="post" action="{{ path('app_statut_rendez_vous_delete', {'id': statut_rendez_vou.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce statut de rendez-vous : {{ statut_rendez_vou.StatutRdv }}?');">


    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ statut_rendez_vou.id) }}">
    <button class="btn btn-outline-danger btn-sm">
        <i class="bi bi-trash3-fill" style="font-size: 1.1rem;"></i>
    </button>
</form>
