{% extends 'base.html.twig' %}

{% block title %}Edit StatutRendezVous{% endblock %}

{% block body %}
    <h1>Edit StatutRendezVous</h1>

    {{ include('statut_rendez_vous/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_statut_rendez_vous_index') }}">back to list</a>

    {{ include('statut_rendez_vous/_delete_form.html.twig') }}
{% endblock %}
